@import url(http://fonts.googleapis.com/css?family=Oleo+Script|Racing+Sans+One|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

html {
    -webkit-font-smoothing: antialiased;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    html {
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e6e4e1;
    color: #888;
    font-size: 16px;
}

h1 {
    margin: 40px auto;
    text-align: center;
}

.card-two {
    background-color: #a6d8de;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    position: relative;
    max-width: 360px;
}

.card-size-one {
    height: 360px;
}

.card-size-two {
    height: 720px;
}

.card-two-visual {
    transition: top 0.6s ease-out;
    position: absolute;
    top: 0;
}

.card-two:hover .card-two-visual {
    top: -1000px;
}

.card-two-content {
    margin: 0 auto;
    font-size: 125%;
}

.card-size-two .card-two-content {
    margin-top: 150px;
}

.card-size-one .card-two-content {
    margin-top: 50px;
}


.card-two-content h2 {
    margin-bottom: 20px;
}

.jumbo-button-row {
    margin-top: 15px;
}

.jumbo-content {
    color: #eee;
    position: absolute;
    bottom:15%;
    left:15%;
    right:15%;
}

.carousel-wrapper {
    margin-top: 30px;
    position: relative;
    margin-bottom:50px;
}

#carousel-jumbotron .item {
    padding-top: 56.22%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control .icon-prev, .carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    top: 75%;
}

.item-1 {
    background-image: url(../image/jumbotron/01.jpg);
}
.item-2 {
    background-image: url(../image/jumbotron/02.jpg);
}
.item-3 {
    background-image: url(../image/jumbotron/03.jpg);
}
.item-4 {
    background-image: url(../image/jumbotron/04.jpg);
}
.item-5 {
    background-image: url(../image/jumbotron/05.jpg);
}
.item-6 {
    background-image: url(../image/jumbotron/06.jpg);
}
.item-7 {
    background-image: url(../image/jumbotron/07.jpg);
}
.item-8 {
    background-image: url(../image/jumbotron/08.jpg);
}
.item-9 {
    background-image: url(../image/jumbotron/09.jpg);
}
.item-10 {
    background-image: url(../image/jumbotron/10.jpg);
}
.item-11 {
    background-image: url(../image/jumbotron/11.jpg);
}
.item-12 {
    background-image: url(../image/jumbotron/12.jpg);
}
.item-13 {
    background-image: url(../image/jumbotron/13.jpg);
}
.item-14 {
    background-image: url(../image/jumbotron/14.jpg);
}
.item-15 {
    background-image: url(../image/jumbotron/15.jpg);
}
.item-16 {
    background-image: url(../image/jumbotron/16.jpg);
}
.item-17 {
    background-image: url(../image/jumbotron/17.jpg);
}
.item-18 {
    background-image: url(../image/jumbotron/18.jpg);
}
.item-19 {
    background-image: url(../image/jumbotron/19.jpg);
}
.item-20 {
    background-image: url(../image/jumbotron/20.jpg);
}
.item-21 {
    background-image: url(../image/jumbotron/21.jpg);
}
.item-22 {
    background-image: url(../image/jumbotron/22.jpg);
}

.glyphicon {
    top: 2px;
}

.lead .glyphicon {
    top: 6px;
}

code {
    white-space: pre-wrap;
}

.nav > li > a {
    padding: 15px 10px 10px 10px;
}

.icon-bar {
  background-color: #a8948b;
}

.navbar-default .navbar-toggle:hover {
  background-color: #f9f1b5;
}

@media (max-width: 992px) {
  .navbar-right {
    float: left !important;
  }
}

@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #a6d8de;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #a6d8de;
        text-decoration: underline;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffd300;
        /* background-color: #69B2C7; */
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
    }
}

.dropdown-menu > li > a {
  color: #a8948b;
}

.strong {
    font-weight: bold;
}

.btn-default {
    color: #a8948b;
    background-color: #fff;
    border-color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-default.active, .open .dropdown-toggle.btn-default {
    color: #a8948b;
    background-color: #f9f1b5;
    border-color: #f9f1b5;
}

.btn-primary {
  background-color: #ae9c96;
  border-color: #ae9c96;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #a6d8de;
    border-color: #a6d8de;
}


.post-navigation {
    margin: 20px 0;
    font-size: 125%;
}

.post-date {
    width: 60px;
    height: 0;
    padding-bottom: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: #a6d8de;
    color: #eee;
    float:left;
    text-align:center;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

input#submit {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.input-group-area > .form-control {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.input-group-area > .input-group-addon {
    vertical-align: top;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

input#submit:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
    text-decoration: none;
}

header.entry-header {
    border-bottom: 2px solid #a6d8de;
    margin-bottom:10px;
    padding-bottom:5px;
}

.entry-thumb {
    float:left;
    padding: 0;
    padding-right: 20px;
    max-width: 50%;
}

@media (max-width: 786px) {
  .entry-thumb {
    padding-right: 0;
    float: none;
    max-width: none;
  }
}

.entry-thumb img {
  margin: 0 auto;
}


.img-wrap {
    position: relative;
    overflow: hidden;
    display: block;
}

.img-wrap > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin: 0 auto;
    max-width: 400px;

    text-align: center;
    vertical-align: bottom;

    visibility: hidden;
    opacity: 0;

    -webkit-transition:  opacity  0.5s;
    -moz-transition:  opacity  0.5s;
    -ms-transition:  opacity  0.5s;
    -o-transition:  opacity  0.5s;
    transition:  opacity  0.5s;
}

.img-wrap:hover > div  {

    visibility: visible;
    opacity: 1;
}

.img-wrap > img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.img-wrap:hover > img {
    -webkit-transform: scale(1.1) translate(10px);
}

a {
    color: #a6d8de;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #a6d8de;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.row-centered {
    margin: 0 auto;
    display: inline-block;
}

.entry-content img,
.entry-thumb img {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.navbar-collapse {
    max-height: none;
}

.teaser-box {
    padding: 10px;
    margin-bottom:20px;
    display: block;
}

.teaser-camera {
    font-size: 150%;
    padding-right:5px;
    color: #a6d8de;
}

.textwidget {
    padding: 0 5px;
}

.widget {
    background-color: #fff;
    color: #a8948b;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 20px;
}

.widget h2 {
    margin-top: 0;
    margin-bottom: 15px;
    /* border-radius: 5px; */
    box-shadow: 0 0 4px -2px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 125%;
    padding: 5px;
    display: block;
    color: #ffffff;
    background-color: #ae9c96;
}

.widget > h2 > a:after {
    vertical-align: -10%;
    font-size: 75%;
    margin-left: 5px;
    content: "\e144";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

.widget > h2 > a {
  color: #fff;
}

.widget > h2 > a:hover {
  color: #f9f1b5;
  text-decoration: underline;
}

.page-header {
    color: #a6d8de;
    font-family: 'Yanone Kaffeesatz';
}

.page-header:hover,
.page-header:focus {
    text-decoration: none;
    color: #a6d8de;
}

.page-header h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
    padding-left: 0.1em;
    margin-bottom: 0;
}

.page-header h2 {
    font-size: 2.5em;
    margin-top: 0;
    letter-spacing: 0.2em;
    padding-left: 0.2em;
    font-family: 'Great Vibes', cursive;
}

.font-arial {
    font-family: Arial, sans-serif;
}


#sam-main-nav.affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    width: 100%
}


.welcome h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

article {
    margin-bottom:20px;
}

article h2 {
    font-size: 100%;
    font-weight: bold;
}

article img {
    margin: 2px;
}

h1.entry-title {
    margin-bottom: 0;
}


@media (max-width: 767px) {
    h1.entry-title {
        -ms-word-break: break-all;
        word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        font-size: 26px;
    }
}

.welcome {
  padding-top: 20px;
}

.welcome img {
    width: 48px;
}

@font-face {
    font-family: "iconvault";
    src: url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.eot");
    src: url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.eot?#iefix") format("embedded-opentype"),
    url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.woff") format("woff"),
    url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.ttf") format("truetype"),
    url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.svg#iconvault") format("svg");
    font-weight: normal;
    font-style: normal;
}


.social-contact {
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-contact span.sam-icon {
    color: #eee;
    font-size: 40px;
}

.social-link {
    color: #ffffff;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

.social-link > a:hover {
    text-decoration: none;
}

.sam-color-one {
    /* color: #14728e; */
    color: #a6d8de;

}

.sam-color-two {
    color: #ae9c96;
}

.sam-color-grey {
    color: #5b5c5c;
}

.sam-font-oleo {
    font-family: 'Oleo Script', cursive;
}
.sam-font-vibes {
    font-family: 'Great Vibes', cursive;
}

.sam-font-racing {
    font-family: 'Racing Sans One', cursive;
}

.sam-font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.sam-blog-content {
    background-color: #fff;
    color: #a8948b;
    margin: 0 0 20px 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.hero-image {
    padding-top: 15px;
    padding-bottom: 10px;
}

.sam-blog-content > article > div {
    padding-top: 10px;
}

.sam-logo {
    padding: 10px 0;
}

.sam-content {
    padding: 20px;
    background-color: #fff;
    color: #a8948b;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-top: 0;
}

.content-area {
  padding: 20px;
}

.top-buffer { margin-top:20px; }

.videoWrapper {
    margin: 20px 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    margin: 0;
    /* margin-top: 20px; */
    /* background-color: #14728e; */
    background-color: #ae9c96;
    color: #ffffff;
    /* border-radius: 4px;*/
}

footer h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

footer a {
    color: #fff;
}

footer a:hover {
  color: #f9f1b5;
}


hr {
    color: #a6d8de;
    border-width: 2px;
}

/*.sam-blog-content a, */
.navbar-default .navbar-nav > li > a {
    color: #a6d8de;
}

.sam-blog-content a:hover,
.sam-blog-content a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a6d8de;
    text-decoration: underline;
    background-color: transparent;
}

.sam-blog-content .active a,
.sam-blog-content .active a:hover,
.sam-blog-content .active a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffd300;
    background-color: transparent;
}

.sam-blog-content .disabled a,
.sam-blog-content .disabled a:hover,
.sam-blog-content .disabled a:focus,
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #a6d8de;
}

/* custom widget css */
#social_ring_fanbox_widget-2 {
    text-align: center;
}

.simple-image img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#dawandaWidgetContainer,
#amzn_wdgt_t_8001_0 {
    display: block;
    margin: 0 auto;
}

/*
 * Pager
 *
 */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #a6d8de;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #ffffff;
    color: #ffd300;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #a6d8de;
    border-color: #a6d8de;
}


.sam-hero-row > div {
    padding-bottom: 20px;
}



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 30px 50px;
}

.alignleft {
    float: left;
    margin: 5px 50px 30px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 30px 50px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 50px 30px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

img.sam-icon:hover {
    opacity: 0.5;
}

.sam-icon {
    font-family: "iconvault";
    vertical-align: middle;
}

.sam-icon-size-48 {
    font-size: 40px;
}

.sam-icon-size-24 {
    font-size: 24px;
}

.sam-icon-size-32 {
    font-size: 32px;
}

a.sam-icon {
    display: inline-block;

    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
}

a.sam-icon:hover {
    text-decoration: none;
    transform: rotate(42deg) ;
    -webkit-transform: rotate(42deg) ;
    -moz-transform: rotate(42deg) ;
    -o-transform: rotate(42deg) ;
    -ms-transform: rotate(42deg) ;
}

li.sam-icon-pencil > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\270f";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

li.sam-icon-canon > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e046";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

li.sam-icon-camera > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e059";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

li.sam-icon-envelope > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\2709";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

li.sam-icon-heart > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e005";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}


li.sam-icon-star > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e006";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

li.sam-icon-list > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e032";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

li.sam-icon-book > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e043";
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}
